%section.page-content.grid
	%article.entry.post
		.container.full
			%article.post-featured.post
				.post-box
					%a{:href => "post"}
						= image_tag "http://d3hj244ay8zo5a.cloudfront.net/wordpress/wp-content/uploads/2014/04/IMG_6423.jpg", :class => "post-image"
				.post-meta
					%h6.separator-heading Featured Article
					%h2.post-title 
						%a{:href => "post"}
							The Noodle King of Brunswick.
			.post-grid.clearfix.masonry
				.post-sizer

				%article.post-small.post
					.post-image.is-loading
						%a{:href => "post", :class => "image-actions"}
							= image_tag "http://d3hj244ay8zo5a.cloudfront.net/wordpress/wp-content/uploads/2014/04/IMG_6423.jpg", :class => "post-image"
					.post-meta
						%h2.post-title= link_to "Heritage Shirt in Indigo", "post"
						%span.date 6th September 2014
						%p.excerpt Engineered Garments designer Daiki Suzuki masterfully blends classic Americana.
				%article.post-large.post
					.post-image.is-loading
						%a{:href => "post", :class => "image-actions"}
							= image_tag "blog/6.jpg", :class => "post-image"
					.post-meta
						%h2.post-title= link_to "Heritage Shirt in Indigo", "post"
						%span.date 6th September 2014
						%p.excerpt Sun Buddies is a new sunglasses line from the masterminds behind the Swedish-based fashion label and retail store Très Bien. Brothers Simon and Hannes Hogeman created the vintage-inspired and handmade frames in homage to classic 1960′s cinema.
				%article.post-large.post.quote
					.quote-inner
						%blockquote.gamma You can lead the horse to water, but you can’t make it drink.
						%span.quote-source.emphasis Barry Bowles
				%article.post-small.post
					.post-image.is-loading
						%a{:href => "post", :class => "image-actions"}
							= image_tag "blog/3.jpg", :class => "post-image"
					.post-meta
						%h2.post-title= link_to "Heritage Shirt in Indigo", "post"
						%span.date 6th September 2014
						%p.excerpt Engineered Garments designer Daiki Suzuki masterfully blends classic Americana.
				%article.post-small.post
					.post-image.is-loading
						%a{:href => "post", :class => "image-actions"}
							= image_tag "blog/4.jpg", :class => "post-image"
					.post-meta
						%h2.post-title= link_to "Heritage Shirt in Indigo", "post"
						%span.date 6th September 2014
						%p.excerpt Engineered Garments designer Daiki Suzuki masterfully blends classic Americana.
				%article.post-small.post
					.post-image.is-loading
						%a{:href => "post", :class => "image-actions"}
							= image_tag "blog/5.jpg", :class => "post-image"
					.post-meta
						%h2.post-title= link_to "Heritage Shirt in Indigo", "post"
						%span.date 6th September 2014
						%p.excerpt Engineered Garments designer Daiki Suzuki masterfully blends classic Americana.

