%section.page-content
	%article.entry.page{:style => "background:#ddd;"}
		%header#category-header.image.cover{:style => "background:url('placement/6.jpg') top center fixed no-repeat;"}
			.image-inner
				%h1.centered.large.fade-sequence 2014 Summer Sale.
				%p.cover-caption.fade-sequence Introducing the first line of products from Big Cartel. 
				%a.scroll-down.fade-sequence{:href => "#"} 
					%span See Products
		.container.full
			%ul.product-grid.clearfix.masonry
				%li.product-sizer
				%li.product-small.product
					.product-image
						%a{:href => "#", :class => "image-actions"}
							= image_tag "products/1.jpg", :class => "product-image"
						%span.sale Sale
					.product-meta
						%h5.product-title= link_to "Heritage Shirt in Indigo", "/single"
						%span.price $30.00
						%p.short-description Engineered Garments designer Daiki Suzuki masterfully blends classic Americana.
				%li.product-large.product
					.product-image
						%a{:href => "#", :class => "image-actions"}
							= image_tag "products/10.jpg", :class => "product-image"
						%span.sale Sale
					.product-meta
						%h5.product-title= link_to "Heritage Shirt in Indigo", "#"
						%span.price $30.00
						%p.short-description Engineered Garments designer Daiki Suzuki masterfully blends classic Americana.
				%li.product-small.product
					.product-image
						%a{:href => "#", :class => "image-actions"}
							= image_tag "products/3.jpg", :class => "product-image"
					.product-meta
						%h5.product-title= link_to "Heritage Shirt in Indigo", "#"
						%span.price $30.00
						%p.short-description Engineered Garments designer Daiki Suzuki masterfully blends classic Americana.
				%li.product-small.product
					.product-image
						%a{:href => "#", :class => "image-actions"}
							= image_tag "products/4.jpg", :class => "product-image"
					.product-meta
						%h5.product-title= link_to "Heritage Shirt in Indigo", "#"
						%span.price $30.00
						%p.short-description Engineered Garments designer Daiki Suzuki masterfully blends classic Americana.
				%li.product-small.product
					.product-image
						%a{:href => "#", :class => "image-actions"}
							= image_tag "products/5.jpg", :class => "product-image"
					.product-meta
						%h5.product-title= link_to "Heritage Shirt in Indigo", "#"
						%span.price $30.00
						%p.short-description Engineered Garments designer Daiki Suzuki masterfully blends classic Americana.

